:root {
  --primary: #23ff53;
  --bg: #0b1d36;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #071324;
  color: #ffff;
  min-height: 200%;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 5%;
  background-color: rgba(7, 19, 36, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* Navbar Logo */

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffff;
  text-transform: uppercase;
  /* font-style: italic; */
}

.navbar .navbar-logo span {
  color: var(--primary);
}

/* Navbar Link */

.navbar .navbar-nav {
  margin-left: 0.5rem;
}

.navbar .navbar-nav a {
  color: #ffff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 2rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.2rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

/* Navbar Icon */

.navbar .navbar-icon a {
  color: #ffff;
  margin: 0 1rem;
  font-size: 1.8rem;
}

.navbar .navbar-icon a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* Hero Section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/image/Wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(7, 19, 36, 1));
}

.hero .content {
  padding: 1.4rem 5%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3rem;
  color: #ffff;
  line-height: 1;
  text-shadow: 1px 1px 3px rgba(7, 19, 36, 0.5);
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.1rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(7, 19, 36, 0.5);
}

.hero .content .cta {
  cursor: pointer;
  margin-top: 0.7rem;
  display: inline-block;
  padding: 0.8rem 3.5rem;
  font-size: 1.1rem;
  color: #ffff;
  background-color: #070b2473;
  border: 1px solid var(--primary);
  border-radius: 0.3rem;
  text-shadow: 1px 1px 3px rgba(7, 19, 36, 0.5);
  transition: 0.2s;
}

.hero .content .cta:hover {
  background-color: #23ff53;
  color: #071324;
}

/* About Section */

.about {
  padding: 4rem 7% 9rem;
  align-items: center;
}

.about h2 {
  text-align: center;
  font-size: 2.4rem;
  margin: 1.5rem 0;
  margin-bottom: 3rem;
}

.about h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 30rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 20rem;
}

.about .row .content h3 {
  font-size: 2rem;
  margin: 2rem;
}

.about .row .content h3 span {
  color: var(--primary);
}

.about .row .content p {
  font-size: 0.9rem;
  margin-top: 1.5rem;
  padding: 0 2rem;
}

/* Kontak Section */

.kontak {
  height: 100vh;
  align-items: center;
  padding: 6rem 7% 9rem;
  background-image: url("/image/Endpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.kontak::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0;
  top: 0;
  background: linear-gradient(rgb(7, 19, 36, 1) 1%, rgba(7, 19, 36, 0));
}

.kontak h2 {
  text-align: center;
  font-size: 2.4rem;
  margin: 1.5rem 0;
  text-shadow: 1px 1px 3px rgba(7, 19, 36, 0.5);
}

.kontak h2 span {
  color: var(--primary);
}

.kontak .sosmed {
  display: flex;
  justify-content: space-around;
  margin: 0 7.4%;
  padding: 2rem 0;
  min-width: 1000px;
  position: relative;
}

.kontak .sosmed a {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--primary);
  backdrop-filter: blur(5px);
  color: white;
  font-size: 1.2rem;
  text-align: center;
  height: 300px;
  width: 250px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}

/* .kontak .sosmed a::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgb(82, 255, 120);
  height: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -2;
  transition: 0.2s;
} */

.kontak .sosmed a:hover {
  margin-top: -15px;
}

.kontak .sosmed a:hover::after {
  height: 75%;
}

.kontak .sosmed h3 {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 1px 1px 3px rgba(7, 19, 36, 0.497);
}

.kontak .sosmed .icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  font-size: 4rem;
}

.kontak .sosmed img {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid var(--primary);
  width: 35%;
  top: 10%;
  z-index: 1;
}

.kontak .sosmed h3 {
  background-color: rgba(7, 19, 36, 0.604);
  border-top: 2px solid var(--primary);
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  height: 75%;
  padding-top: 30%;
  min-width: 100%;
  z-index: 1;
}

.kontak .sosmed h3::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgb(82, 255, 120);
  height: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -2;
  transition: 0.2s;
}

.kontak .sosmed h3:hover::after {
  height: 100%;
}

/* Media Querry */

/* Tablet */

@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(7, 19, 36, 0.5);
    width: 14rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: white;
    width: 100%;
    margin-left: 0;
    display: block;
    padding: 1.4rem 2rem 1.5rem;
    font-size: 1.3rem;
    transition: 0.3s;
  }

  .navbar .navbar-nav a:hover {
    background-color: rgba(7, 19, 36, 0.3);
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.4);
  }
}

/* Mobile */

@media (max-width: 576px) {
  html {
    font-size: 62%;
  }
}
